/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 h1, h2, h3{
     font-family: 'Sansita', sans-serif;
     text-align: center;
     text-shadow: 2px 1px white;
 }
// a:hover{
//  background-color: #008000;
// }

body, .navbar{
 // this piece of Gradient CSS is made by @_ighosh. Thank you! 
 background: #200122; /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #200122 , #6f0000); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #200122 , #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// this is for the border
.navbar{
 border: none;
}

// this is for navigation bars like Python and JavaScript
.navbar-brand a{
  display: inline;
  padding-right: 40px;
}

// this is for the spacing between navigation bars
.navbar-brand {
  font-family: 'Sansita', sans-serif; /*make sure to add this since you did this also in your body*/
  margin: 20px 50px 0px 50px;
  font-weight: 500;
 }
 
 // this is the idead of superficity. need to do this since bootstrap is doing it this way 
 .navbar-default .navbar-brand:hover{
  color: #bfae6e;
 }
 
.home-elitism {
 color: white;
}
p {
 text-align:center;
 color:#ff8300;
}

html {
 overflow-y: scroll;
 // width: 100%;
}

// this is for the form page
.form-group{
 color: rgba(56, 38, 6, 0.9);
}

div {
 color: #bfae6e;
 text-align: center;
 display: block;
}